{
    id: 17,
    count: 109,
    description: "",
    name: "Art",
    slug: "art",
    taxonomy: "work_type",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 0,
    adjacent_posts: [5, 22]
}, {
    id: 19,
    count: 21,
    description: "",
    name: "Identity",
    slug: "identity",
    taxonomy: "work_type",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: "",
    adjacent_posts: [1, 1]
}, {
    id: 31,
    count: 33,
    description: "",
    name: "Products",
    slug: "products",
    taxonomy: "work_type",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 0,
    adjacent_posts: [null, null]
}, {
    id: 18,
    count: 28,
    description: "",
    name: "Projects",
    slug: "projects",
    taxonomy: "work_type",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 0,
    adjacent_posts: [null, null]
}
