{
    id: 73,
    count: 1,
    description: "",
    name: "Art Basel",
    slug: "art-basel",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 0,
    adjacent_posts: [null, null]
}, {
    id: 82,
    count: 3,
    description: "",
    name: "Bisazza",
    slug: "bisazza",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 62,
    adjacent_posts: [2581, 2610]
}, {
    id: 139,
    count: 1,
    description: "",
    name: "Bischofberger",
    slug: "bischofberger",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 4,
    adjacent_posts: [2143, 151]
}, {
    id: 43,
    count: 7,
    description: "",
    name: "Blow",
    slug: "blow",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: "",
    adjacent_posts: [1, 1]
}, {
    id: 37,
    count: 9,
    description: "",
    name: "Carpenters Workshop Gallery",
    slug: "carpenters-workshop-gallery",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 6,
    adjacent_posts: [33, 34]
}, {
    id: 132,
    count: 1,
    description: "",
    name: "Centraal museum Utrecht",
    slug: "centraal-museum-utrecht",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: "",
    adjacent_posts: [1, 1]
}, {
    id: 61,
    count: 3,
    description: "",
    name: "Chamber NY",
    slug: "chamber-ny",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 0,
    adjacent_posts: [null, null]
}, {
    id: 133,
    count: 0,
    description: "",
    name: "CNAP",
    slug: "cnap",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: "",
    adjacent_posts: [1, 1]
}, {
    id: 83,
    count: 1,
    description: "",
    name: "Colombostile",
    slug: "colombostile",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 0,
    adjacent_posts: [null, null]
}, {
    id: 74,
    count: 2,
    description: "",
    name: "Creutz &amp; Partners",
    slug: "creutz-partners",
    taxonomy: "work_collections",
    parent: 0,
    meta: [],
    acf: [],
    menu_order: 3,
    adjacent_posts: [3691, 3649]
}
